/* Settings.css */

/* Styles for the modal */
.modal {
  /* Position and layout for the modal */
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles for the modal content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 85%;
  height: 85%;
  max-height: 100%;
  overflow-y: auto; /* Add overflow-y to enable vertical scrollbar */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Styles for the form within the modal */
.settings-form {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styles for individual columns in the form */
.column {
  flex: 0 0 100%;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Styles for content within the settings section */
.settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* Add margin below content within columns */
.column .content {
  margin-bottom: 15px;
}

/* Adjust margin at the top for h3 elements inside columns */
.column h3 {
  margin-top: 5px;
}

/* Styles for the 'Delete Account' button */
.delete-account-button {
  display: block;
  cursor: pointer;
  width: 190px;
  font-size: medium;
  padding: 10px 20px;
  margin: 5px 0;
  background-color: #ff6347;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

/* Change button color on hover for 'Delete Account' */
.delete-account-button:hover {
  background-color: #ff473d;
}

/* Styles for the 'Change' button */
.change-button {
  display: block;
  cursor: pointer;
  width: 190px;
  font-size: medium;
  padding: 10px 20px;
  margin: 5px 0;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

/* Change button color on hover for 'Change' */
.change-button:hover {
  background-color: #0056b3;
}

/* Styles for form labels */
.model label {
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}

/* Styles for form inputs */
.settings-form input[type="text"],
.settings-form input[type="email"],
.settings-form input[type="password"],
.settings-form select {
  display: block;
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the checkbox */
.settings-form input[type="checkbox"] {
  margin-right: 5px;
}
/* Style for the file input */
.settings-form input[type="file"] {
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
}

/* Styles for buttons */
.settings-content button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Specific styling for links inside the form */
.close-button a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
  color: #000;
}
/* Styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Styles for the close icon */
.close-icon {
  font-size: 36px; /* Icon size */
  border: 2px solid #000; /* Border around the icon */
  border-radius: 50%; /* Circular shape */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s; /* Smooth background color transition */
}

/* Stacking and ddding spacing between profile upload items */

.profilepicture {
  flex-direction: column; 
  align-items: start; 
}

.chooseFile {
  margin-top: 20px;
  margin-bottom: 20px; 
}

.upload {
  margin-bottom: 20px; 
}

.profilePictureSettings {
margin-bottom: 20px;
}

.avatar {
  vertical-align: middle;
  width: 80px;
  height: 80px;
  /* border-radius: 50%; /* Circular shape optional */
}

