/* TOS.css */

/* Styles for the TOS text container */
.terms-box {
  width: 95%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--tos-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the TOS text */
.terms-text {
  color: var(--terms-text);
  text-align: left;
  line-height: 1.5;
}

/* Underline a elements*/
.terms-text a {
  text-decoration: underline;
}
/* Captilise h2 text */
.terms-text h2 {
  text-transform: uppercase;
}
