.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sign-logo {
  width: 150px; /* Adjust the width as needed for the Home page */
  height: auto;
}

/* App.css or a separate CSS file */
.home-logo {
  width: 450px; /* Adjust the width as needed for the Home page */
  height: auto;
}

.button {
  display: block;
  margin: 10px auto; 
  padding: 15px;
  width: 150px; 
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  color: #3498db;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3498db;
  color: white;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .button {
    width: 50%;
  }
  .home-logo {
    width: 50%;
  }
  .sign-logo {
    width: 50%;
  }
}